// Specific CSS for your home-page
body {
  height: 100%;
  margin: 0;
  padding: 0;
  // background: linear-gradient(to bottom, #abe5e8, #abe5e8, white);
  background-color: white;
  // font-family: 'Roboto';
  // background: #abe5e8;
  background-repeat: no-repeat;
}

.py-5 {
  margin-top: -120px;
  margin-bottom: -130px;
  padding: 30px;
}


.flex-container {
  display: flex;
  align-items: flex-end;
}
#landing-image {
  background-size: cover;
  height: 500px;
  width: 100%;
  padding-bottom: 50px;
  // z-index: 1 !important;
}

.image-test {
  background-size: cover;
  height: 500px;
  width: 100%;
}

#big-button {
  padding: 15px 20px;
  background-color: #0992c8;
  color: #fff;
  border: none;
  border-radius: 30px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  // cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  // z-index: ;
  margin-top: 60px;

  // .justify-content-center {
  //   display: block;
  //   margin: 0 auto;
  //   transition: background-color 0.3s ease-in-out;
  // }

    &:hover {
      background-color: #01034e;
      text-decoration: none;
  }
}


.navbar {
  background-color:rgba(0, 0, 0, 0);
  font-family: 'Fjalla One';
}

.flex-container {
  position: relative;
}

.about-section {
  // position: absolute;
  top: 100%;
  width: 100%;
  padding: 50px 0;
  text-align: center;
}

.card-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 30px;
}

// .card {
//   flex: 1;
//   padding: 20px;
//   border: 1px solid #ddd;
//   border-radius: 10px;
//   background-color: #f5f5f5;
// }

// .card h2 {
//   margin-top: 0;
// }

.col.text-center {
  padding: 20px;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #333;
  transition: color 0.3s, border-bottom-color 0.3s;
}

.nav-link:hover {
  color: #ff6600;
  border-bottom: 2px solid #ff6600;
  text-decoration: none;
}

h1 {
  font-family: 'Bebas Neue';
  font-size: 60px;
}

.intro {
  background-color: #ff6600;
  color: black;
  text-align: center;
  padding: 50px 0;
}

.intro h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.intro p {
  font-size: 1.2rem;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background: white;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  width: 300px;
  height: 500px;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
  }

  .video-wrapper {
    position: relative;
    overflow: hidden;
    margin: 0;
    border-radius: 10px;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}

.card-image {
  position: relative;
  overflow: hidden;
  margin: 0;
  border-radius: 10px;
}

.footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 10px;
}

// footer {
//   /* Your footer styling here */
// }
