<footer class="footer">
    <p>&copy; 2023 Groove. All rights reserved.</p>
    <p> This app was created with the help of the wonderful Le Wagon London TA's.</p>
    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
</footer>
