<h1>My Dashboard</h1>

<h2>My Bookings</h2>
<%# List all my bookings: essentially take the info from bookings index page %>

<h2>My Instruments</h2>
<%# each instrument should have a preview of status rented / available %>
<%# each instrument should have a toggle to display all the instrument's bookings %>
