.btn-main {
  text-decoration: none;
  background-color: #FD8DD0;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  font-family: 'Bebas Neue';
  font-size: 20px;
  margin: 20px;

  &:hover {
    background-color: #FFC0E6;
    color: black;
  }
}

.btn-main-back {
  text-decoration: none;
  background-color: rgb(135, 133, 133);
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  font-family: 'Bebas Neue';
  font-size: 20px;
  margin: 20px;

  &:hover {
    background-color: rgb(162, 158, 158);
    color: black;
  }
}

.btn-instrument-book {
  text-decoration: none;
  background-color: #FD8DD0;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  font-family: 'Bebas Neue';
  font-size: 20px;
  margin: 20px;
  transition: all .2s ease-in-out;
  position: absolute;
  bottom: 0;
  right: 0;

  &:hover {
    transform: scale(1.03);
    background-color: #FFC0E6;
    color: black;
  }
}

.btn-review {
  text-decoration: none;
  background-color: #FD8DD0;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  font-family: 'Bebas Neue';
  font-size: 20px;
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.03);
    background-color: #FFC0E6;
    color: black;
  }

}
