<h1>INSTRUMENTS FOR RENT</h1>

<% @instruments.each do |instrument| %>
  <li><%= link_to "#{instrument.name}", instrument_path(instrument.id) %></li>
<% end %>
<br>
<% if user_signed_in? %>
  <%= link_to "Add new instrument >", new_instrument_path %>
<% end %>
